{% extends "layout.html" %}

{% block content %}
<div class="entry-list">
    <article>
        <h1>{{ entry.title }}</h1>
            <time>
                {{ entry.created.strftime('%d/%m/%Y') }}
            </time>
        <div class="entry">
            <h3>Time Spent: </h3><p>{{ entry.time_spent }} Hours</p>
        </div>
        <div class="entry">
            <h3>What I Learned:</h3>
            <p>{{ entry.learned }}</p>
        </div>
        <div class="entry">
            <h3>Additional Resources:</h3>
            <p>{{ entry.to_remember }}</p>
        </div>
    </article>
</div>

<div class="edit">
    <a class="button" href="{{ url_for('update', id=entry.id) }}">Edit/Update Entry</a>
</div>
<div class="delete">
    <a class="button" href="{{ url_for('delete', id=entry.id) }}">Delete Entry</a>
</div>
{% endblock %}