{% extends "layout.html" %}
{% from 'macros.html' import render_field %}

{% block content %}
<div class="new-entry">
    <h2>New Entry</h2>
    <form method="POST" action="">
        {{ form.hidden_tag() }}
        <div>{{ form.title.label }}{{ render_field(form.title) }}</div>
        <div>{{ form.created.label }}{{ render_field(form.created) }}</div>
        <div>{{ form.time_spent.label }}{{ render_field(form.time_spent(min=0)) }}</div>
        <div>{{ form.learned.label }}{{ render_field(form.learned) }}</div>
        <div>{{ form.to_remember.label }}{{ render_field(form.to_remember) }}</div>
        <input type="submit" value="Publish Entry" class="button icon-left"><br>
        <a href="{{ url_for('index') }}" class="button icon-left">Cancel</a>
    </form>
</div>
{% endblock %}